<script>
  import Card from "../components/card.svelte";
  import DailyUpdate from "../components/DailyUpdate.svelte";
  import { onMount } from "svelte";
  let data = [];
  let total = 0;
  let active = 0;
  let recovered = 0;
  let death = 0;
  let dailyData = [];
  onMount(async () => {
    const covid = await fetch("https://api.covid19india.org/data.json");
    let completeObject = [];
    completeObject = await covid.json();
    data =
      completeObject.cases_time_series[
        completeObject.cases_time_series.length - 1
      ];
    console.log(data);
    total = data.totalconfirmed;
    recovered = data.totalrecovered;
    death = data.totaldeceased;
    active = parseInt(total) - (parseInt(recovered) + parseInt(death));
    dailyData["date"] = data.date;
    dailyData["confirm"] = data.dailyconfirmed;
    dailyData["recover"] = data.dailyrecovered;
    dailyData["death"] = data.dailydeceased;
    console.log(total, recovered, active);
  });
</script>

<style>
  .row-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }
</style>

<svelte:head>
  <title>COVID-19</title>
</svelte:head>

<div class="row-container">
  <Card type="infected" count={total ? total : 0} />
  <Card type="active" count={active ? active : 0} />
  <Card type="recovered" count={recovered ? recovered : 0} />
  <Card type="deceased" count={death ? death : 0} />
  <DailyUpdate {dailyData} />
</div>
