<script>
  export let type;
  export let count;
</script>

<style>
  .block {
    padding: 20px;
    font-size: 20px;
    border-radius: 5px;
    text-transform: capitalize;
  }
  .infected {
    background: rgb(63, 58, 180);
    background: linear-gradient(
      90deg,
      rgba(63, 58, 180, 1) 0%,
      rgba(29, 137, 253, 0.8897934173669468) 50%,
      rgba(69, 237, 252, 1) 100%
    );
    color: white;
    text-align: center;
  }
  .active {
    background: rgb(187, 195, 34);
    background: linear-gradient(
      0deg,
      rgba(187, 195, 34, 1) 0%,
      rgba(247, 235, 80, 0.8645833333333334) 100%
    );
    color: white;
    text-align: center;
  }

  .recovered {
    background: rgb(34, 193, 195);
    background: linear-gradient(
      0deg,
      rgba(34, 193, 195, 1) 0%,
      rgba(61, 203, 34, 0.8645833333333334) 100%
    );
    color: white;
    text-align: center;
  }
  .deceased {
    background: rgb(180, 58, 82);
    background: linear-gradient(
      90deg,
      rgba(180, 58, 82, 1) 0%,
      rgba(253, 136, 29, 0.8897934173669468) 50%,
      rgba(252, 70, 69, 1) 100%
    );
    color: white;
    text-align: center;
  }
</style>

<div class="block {type}">
  {type}:
  <span>{count}</span>
</div>
