<script>
  export let dailyData;
</script>

<style>
  .block {
    width: 100%;
    padding: 0px;
    font-size: 20px;
    border-radius: 5px;
    text-transform: capitalize;
  }
  .element {
    padding: 15px;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
    margin: 10px 0px;
  }
</style>

<div class="block ">
  <div class="element">
    Date:
    <span>{dailyData.date}</span>
  </div>
  <div class="element">
    Confirmed:
    <span>{dailyData.confirm}</span>
  </div>
  <div class="element">
    Recovered:
    <span>{dailyData.recover}</span>
  </div>
  <div class="element">
    Deceased:
    <span>{dailyData.death}</span>
  </div>
</div>
